// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.
// For more help, browse the DeviceTree documentation at https: //docs.zephyrproject.org/latest/guides/dts/index.html

&i2c0 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;

	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
	as5600: as5600@40 {
		compatible = "ams,as5600";
		status = "okay";
		reg = <0x40>;


		power-mode = <0>;
		hysteresis = <1>;
		slow-filter = <1>;
		fast-filter-threshold = <1>;
	};
};

&pinctrl {
	/omit-if-no-ref/ i2c0_default: i2c0_default {
		group1  {
			psels = <NRF_PSEL(TWIM_SCL, 1, 03)>,
					<NRF_PSEL(TWIM_SDA, 1, 04)>;

			bias-pull-up;
			nordic,drive-mode = <NRF_DRIVE_H0H1>;
		};
	};

	/omit-if-no-ref/ i2c0_sleep: i2c0_sleep {
		group1  {
			psels = <NRF_PSEL(TWIM_SCL, 1, 03)>,
					<NRF_PSEL(TWIM_SDA, 1, 04)>;
			low-power-enable;
		};
	};
};
